doctype html
html
    head
        script(src="/bower_components/jquery/dist/jquery.min.js",type="text/javascript")
        link(type="text/css",href="/general.css",rel="stylesheet")
        title Oooops!
    body
        br
        p(style={"text-align":"center"})
         img(class="applejack",src="/images/applejack.png",height="70%",width="45%")