doctype html
html
    head
        script(src="/bower_components/jquery/dist/jquery.min.js",type="text/javascript")
        link(type="text/css",href="/general.css",rel="stylesheet")
        title Ponychan Video Steam
    body
        video(class="videoStream",src="")

        script(src="/lib/ajax.js",type="text/javascript")